<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_perfilLoja.css">
    <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'/>
    <title>Free From ⋆ Um Sabor Seguro</title>
</head>
<body> 
    <main>
    <!--Menu-->
    <header>
        <div class="loja">
            <img class="capa" src="/<%- vendedor[0].back_img %>"> <!--FOTO DE CAPA-->
            <div class="idem">
                <img class="ft-perfil" src="/<%- vendedor[0].img %>"><!--COLOCAR FOTO DE PERFIL DA LOJA-->
                <h5><%= vendedor[0].nome_loja%></h5>
                <h6><%= vendedor[0].slogan %></h6>
            </div>
            <!-- <div class="btn">
                <button>Seguir</button>
                <button><a href="../../chat/frontend/index">Conversar agora</a></button>
            </div> -->
            <!-- <div class="reputacao">
                
                <ul class="avaliacao" id="loja">
                    <li class="number">5.0</li>
                    <li class="star-icon ativo" data-avaliacao="1"></li>
                    <li class="star-icon" data-avaliacao="2"></li>
                    <li class="star-icon" data-avaliacao="3"></li>
                    <li class="star-icon" data-avaliacao="4"></li>
                    <li class="star-icon" data-avaliacao="5"></li>
                </ul>
                <script type="text/javascript" src="/javaScript/stars.js"></script>
                <div class="txt-info">
                    <p>Seguidores</p>
                    <p>Seguindo</p>
                </div>
            </div> -->
        </div>
    </header>
    <div class="barra" id="loja">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Destaques</a></li>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Categorias</a></li>
        </ul>
    </div> 
    
        <article class="container">             
            <section class="bio">
                <div class="box">
                    <h6>Sobre a Loja</h6>
                    <p><%= vendedor[0].sobre %></p>
                </div>
            </section>
            <section class="produtos">
                <h6>Produtos</h6>
                <div class="cards"><!----------------FILEIRA DE CARTÕES-->
                    <% produtos.forEach(function(produto){ %>
                        <% if(!produto.qtd_estoque == 0){ %>
                        <section class="card contact"><!--CARTÃO INDIVIDUAL-->
                            <div class="icon"><!--ESPAÇO DA CAPA-->
                                <img src="/<%= produto.img %>"alt="Contact us.">
                            </div>
                                <span><%= produto.nome %></span>
                            <a href="/_descricaoProduto/<%= produto.id_produto %>">Veja Mais</a> 
                        </section>
                        <%}%>
                    <% }); %>
                </div>
            </section> 
        </article>
    </main>
    <footer>
        
    </footer>
    <script src="/assets/js/bundle.js"></script>
</body>
</html>
