<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_produtos.css">
    <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'/>
    <title>Free From ⋆ Um Sabor Seguro</title>
</head>
<body class="body">
    <!--Menu-->
    <header class="barra">
        <%- navBar %>
    </header>
    <main>   
        
        <% if(resultado){ %>
            <div class="cards"><!----------------FILEIRA DE CARTÕES-->
                <% produtos.forEach(function(produto){ %>
                        <section class="card contact"><!--CARTÃO INDIVIDUAL-->
                            <div class="icon"><!--ESPAÇO DA CAPA-->
                                <% if(produto.qtd_estoque <= 0){ %>
                                    <div class="esgotado">Esgotado</div>
                                <% } %>
                                <img src="<%= produto.img %>"alt="Contact us.">
                            </div>
                                <span class="span1"><%= produto.nome %></span>
                                <span class="span2">Preço: <%= produto.preco_unit %></span>
                            <a href="_descricaoProduto/<%= produto.id_produto %>">Veja Mais</a> 
                        </section>
                <% }); %>
            </div>  
        <% }else{ %>
            <div class="cards">
                <h1 style="color: black; position: relative; left: 40%;">Nenhum produto encontrado!</h1>
            </div>
        <% } %>
    </main>
    <footer></footer>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>
