<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_produtos.css">
    <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'/>
    <title>Free From ⋆ Um Sabor Seguro</title>
</head>
<body>
    <!--Menu-->
    <header>

        <input type="checkbox" id="check">
        <label id="icone" for="check">
            <img style="background-color: rgba(40, 31, 28, 0.9); border-radius: 5px;" src="Img/iconeMenu.png">
        </label>
        <div class="barra">
            <nav class="menu">
                <ul>   
                    <li><div class="menu"><a href="/">Início</a></div></li>
                    <li><div class="aq"><a href="#">Produtos</a></div></li>
                    <!--<li><div class="menu"><a href="produtosCadastrar">Cadastrar Produto</a></div></li>-->
                    <li>
                        <div class="menu"><a href="#">Mais▾</a></div>
                        <ul>
                            <li class="subMenu"><a href="#">Vender</a></li>
                            <!--<li class="subMenu"><a href="#">Frete</a></li>-->
                            <li class="subMenu"><a href="_Sobre">Sobre Nós</a></li>
                        </ul>
                    </li>

                    <li>
                        <div class="menu"><a href="#">Conta▾</a></div>
                        <ul>
                            <% if(usuario){ %>
                                <li class="subMenu"><a href="_editar/<%- user[0].id_usuario %>">Editar</a></li>
                                <li class="subMenu"><form action="_logout" method="POST"><button class="btton" type="submit">Sair</button></form></li>
                            <% }else{ %>
                                <li class="subMenu"><a href="_Cadastro">Cadastrar</a></li>
                                <li class="subMenu"><a href="_Login">Entrar</a></li>
                            <% } %>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!--
        <section class="cat">
                    <div class="fileira" id="f1">
                        <div class="check">
                            <input type="checkbox" name="categoria" class="categoria">
                            <label for="gluten"> Glúten</label>                                
                        </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Trigo"> Trigo</label>
        
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Lactose"> Lactose</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="LeiteVaca"> Leite de Vaca</label>
                    </div>
                </div>
                <div class="fileira" id="f2">
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Ovo"> Ovo</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Amendoin"> Amendoin</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Castanhas"> Castanhas</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Soja"> Soja</label>
                    </div>
                </div>
                <div class="fileira" id="f3">
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Peixe"> Peixe</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="FrutosMar"> Frutos do Mar</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Acucar"> Açucar</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="AditivosAlimentares"> Aditivos alimentares</label>
                    </div>
                </div>
                <div class="fileira" id="f4">
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Vegetariano"> Carne/Vegetariano</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Vegano"> De origem animal/Vegano</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Fitness"> Fitness</label>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="categoria" class="categoria">
                        <label for="Outros"> Outros</label>
                    </div>
                </div>
                </section>-->
    </header>
    <main>   
        <% if(usuario){ %>
            <h1 style="color: black;"><%= user[0].usuario %></h1>
        <% }else{ %>
            <h1 style="color: black;">Nenhum usuario logado</h1>
        <% } %>
        <div class="busca">
            <form class="formBusca" method="POST">
                <div>
                    <input type="text" name="pesquisa" placeholder="Pesquise o que você deseja">
                    <button type="submit">Buscar</button>
                </div>
            </form>
        </div>
        <% if(resultado){ %>
            <div class="cards"><!----------------FILEIRA DE CARTÕES-->
                <% produtos.forEach(function(produto){ %>
                    <% if(!produto.qtd_estoque == 0){ %>
                        <section class="card contact"><!--CARTÃO INDIVIDUAL-->
                            <div class="icon"><!--ESPAÇO DA CAPA-->
                                <img src="<%= produto.img %>"alt="Contact us.">
                            </div>
                                <span><%= produto.nome %></span>
                            <a href="_descricaoProduto/<%= produto.id_produto %>">Veja Mais</a> 
                        </section>
                    <% } %>
                <% }); %>
            </div>  
        <% }else{ %>
            <div class="cards">
                <h1 style="color: black; position: relative; left: 40%;">Nenhum produto encontrado!</h1>
            </div>
        <% } %>
    </main>
    <footer></footer>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>
